@model Firma.Data.Data.CMS.Params

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Parametry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdParametr">Edycja</a>

    <div>
        <br />
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </div>
</div>
