@model Firma.Data.Data.Sklep.Item
@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_SklepLayout.cshtml";
}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m6">
                    <a href="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" data-caption="@Model.InfoGlowne" class="materialboxed">
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" alt="@Model.InfoGlowne" style="max-width: 100%;">
                    </a>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <h4>@Model.InfoGlowne</h4>
                        <p>Cena: @Model.Cena.ToString("F2") zł</p>
                        <p>Opis: @Model.Opis</p>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a href="@Url.Action("Index", "Shop")" class="waves-effect waves-light btn grey darken-1">Powrót do sklepu</a>
                            <button class="waves-effect waves-light btn red">
                                <i class="material-icons left">add_shopping_cart</i>
                                DODAJ DO KOSZYKA
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* *@
@* <div class="card-panel"> *@
@*     <div class="row"> *@
@*         <div class="col s12 m6"> *@
@*             <a href="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="materialboxed"> *@
@*                 <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" alt="@Model.InfoGlowne" style="max-width: 100%; height: auto;"> *@
@*             </a> *@
@*         </div> *@
@*         <div class="col s12 m6"> *@
@*             <h4>@Model.InfoGlowne</h4> *@
@*             <p>Cena: @Model.Cena.ToString("F2") zł</p> *@
@*             <p>Opis: @Model.Opis</p> *@
@*             <div class="card-action"> *@
@*                 <a href="@Url.Action("Index", "Shop")" class="waves-effect waves-light btn grey darken-2">Powrót do sklepu</a> *@
@*                 <a href="#" class="btn-floating waves-effect waves-light red"><i class="material-icons">favorite</i></a> *@
@*                 <a href="#" class="waves-effect waves-light btn grey white-text">Dodaj do koszyka</a> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@* <div class="row"> *@
@*     <div class="col s12 m4"> *@
@*         <div class="card-panel"> *@
@*             <a href="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="materialboxed"> *@
@*                 <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" alt="@Model.InfoGlowne" style="max-width: 500px;"> *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@*     <div class="col s12 m8"> *@
@*         <div class="card-panel"> *@
@*             <h4>@Model.InfoGlowne</h4> *@
@*             <p>Cena: @Model.Cena.ToString("F2") zł</p> *@
@*             <p>Opis: @Model.Opis</p> *@
@*             <div class="card-action"> *@
@*                 <a href="@Url.Action("Index", "Shop")" class="waves-effect waves-light btn">Powrót do sklepu</a> *@
@*                 <a href="#" class="waves-effect waves-light btn grey white-text">Dodaj do koszyka</a> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <div class="row"> *@
@*     <div class="col s12"> *@
@*         <div class="card-panel"> *@
@*             <div class="row"> *@
@*                 <div class="col s12 m4"> *@
@*                     <a href="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="materialboxed"> *@
@*                         <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" alt="@Model.InfoGlowne" style="max-width: 500px;"> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col s12 m8"> *@
@*                     <h4>@Model.InfoGlowne</h4> *@
@*                     <div class="row"> *@
@*                         <div class="col s12"> *@
@*                             <p>Cena: @Model.Cena.ToString("F2") zł</p> *@
@*                             <p>Opis: @Model.Opis</p> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="card-action"> *@
@*                         <div class="row"> *@
@*                             <div class="col s6"> *@
@*                                 <a href="@Url.Action("Index", "Shop")" class="waves-effect waves-light btn grey white-text">Powrót do sklepu</a> *@
@*                             </div> *@
@*                             <div class="col s6"> *@
@*                                 <a href="#" class="waves-effect waves-light btn">Dodaj do koszyka</a> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* // ORIGINAL *@
@* <div class="row"> *@
@*     <div class="col s12 m8 offset-m2"> *@
@*         <div class="card-panel"> *@
@*             <div class="row"> *@
@* #6D6D6D *@
@*                 <div class="col s12 m4"> *@
@*                     $1$ <img src="@Model.Photo" alt="@Model.InfoGlowne" style="max-width: 300px;"> #1# *@
@*                     <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" alt="@Model.InfoGlowne" style="max-width: 500px;"> *@
@* *@
@*                 </div> *@
@*                 <div class="col s12 m8"> *@
@*                     <h4>@Model.InfoGlowne</h4> *@
@*                     <p>Cena: @Model.Cena.ToString("F2") zł</p> *@
@*                     <p>Opis: @Model.Opis</p> *@
@*                     <div class="card-action"> *@
@*                         <a href="@Url.Action("Index", "Shop")" class="waves-effect waves-light btn">Powrót do sklepu</a> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

