@* WORKING!!!! *@
@model Firma.PortalWWW.Models.Shop.CartData

@{
    ViewData["Title"] = "Koszyk";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<style>
    .item-icon {
        max-height: 60px;
        max-width: 60px;
        border-radius: 15%;
    }

    .quantity-controls {
        display: flex;
        align-items: center;
    }

    .quantity-input {
        width: 40px;
        text-align: center;
    }

    .info-link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

        .info-link:hover {
            text-decoration: underline;
        }
</style>

<div class="card">
    <div class="card-content">
        <span class="card-title">Twój koszyk</span>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Ilosc</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var element in Model.CartElements)
            {
                <tr>
                    <td class="center-align">
                        <a href="@Url.Action("Details", "Shop", new { id = element.ItemId })">
                            <img src="data:image;base64,@System.Convert.ToBase64String(element.Item.Photo)" alt="@element.Item.InfoGlowne" class="item-icon" />
                        </a>
                    </td>
                    <td>
                        <span class="info-link" onclick="window.location.href='@Url.Action("Details", "Shop", new { id = element.ItemId })'">@element.Item.InfoGlowne</span>
                    </td>
                    <td>
                        @($"{element.Item.Cena:F} zł")
                    </td>
                    <td>
                        @($"{element.Quantity:F}")
                    </td>
                    <td>
                        <button class="btn red lighten-2" onclick="removeFromCart(@element.ItemId)">Usuń</button>
                    </td>
                </tr>
            }
                
            </tbody>
        </table>
        <div>
            @($" Wartość koszyka: {Model.AllDecimal:F} zł")
            <br>
            <br>
            <a href="@Url.Action("ClearCart", "Cart")" class="btn red lighten-2">Wyczyść koszyk</a>
            <br />
            <br />
            <a href="@Url.Action("ShippingDetails", "Order")" class="btn blue">Przejdź do szczegółów wysyłki</a>
        </div>
    </div>
</div>

<script>
    function removeFromCart(itemId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveFromCart", "Cart")",
            data: { id: itemId },
            success: function (response) {
                    location.reload();
            }
        });
    }
</script>
